<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-sm-4 mt-4">
      <span class="mt-4 mb-1">{{ message }}</span>
      <form [formGroup]="formData" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label style="float: left" for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            aria-describedby="emailHelp"
            formControlName="email"
            placeholder="Enter email"
          />
          <div
            *ngIf="
              formData.controls['email'].invalid &&
              formData.controls['email'].touched
            "
            class="alert alert-danger"
            style="padding: 3px"
          >
            <span
              style="padding-left: 3px"
              *ngIf="formData.controls['email'].errors"
            >
              Invalid Email.
            </span>
          </div>
        </div>
        <button
          [disabled]="!formData.valid"
          type="submit"
          class="btn btn-primary my-2"
        >
          Submit
        </button>
      </form>
      <p style="padding: 5px">
        Click here to
        <a routerLink="/login">Login</a>
      </p>
    </div>
  </div>
</div>
