<div class="container">
  <h5 class="text-center mt-3 mb-2">Checkout</h5>
  <div class="col-sm-12">
    <p *ngIf="!this.isLoggedIn()">Login to see your data</p>
    <div class="container" *ngIf="this.isLoggedIn()">
      <p *ngIf="this.productData.length <= 0">No data in cart</p>
      <div
        class="d-flex justify-content-centre"
        *ngIf="this.productData.length > 0"
      >
        <div class="col-sm-8">
          <div class="col-sm-12 card" *ngFor="let data of this.productData">
            <div class="row mt-4" style="height: 200px">
              <div class="col-sm-8">
                <p><b>Name: </b> {{ data.ProductName }}</p>
                <p><b>Price: </b> {{ data.ProductPrice }}</p>
                <p><b>Discount: </b> {{ data.ProductDiscount }}</p>
                <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  (click)="deleteItem(data.Id)"
                >
                  Delete
                </button>
              </div>
              <div class="col-sm-4">
                <img
                  [src]="data.ProductImage"
                  alt="img"
                  width="130"
                  height="150"
                />
              </div>
            </div>
          </div>
          <p *ngIf="this.cartData === null">No Item in cart</p>
        </div>
        <div class="col-sm-4 card bg-secondary text-light">
          <div class="row justify-content-between">
            <div class="col-6 mt-2">
              <p><b>Product Price: </b></p>
            </div>
            <div class="col-4">{{ totalPrice }}</div>
          </div>
          <div class="row justify-content-between">
            <div class="col-6">
              <p><b>Total Discount: </b></p>
            </div>
            <div class="col-4">{{ totalDiscount }}</div>
          </div>
          <hr />
          <div class="row justify-content-between">
            <div class="col-8">
              <p><b>Total Price After Discount: </b></p>
            </div>
            <div class="col-4">{{ totalPrice - totalDiscount }}</div>
          </div>
          <button
            type="button"
            class="btn btn-sm btn-success"
            (click)="placeOrder()"
          >
            Place Order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
